<div class="right-sidebar col-lg-2 col-md-1">
    <div class="vertical-spacer">
    <h4>@social</h4>
        <ul class="list-inline text-center">
        {% if SOCIAL %}
            {% for name,link in SOCIAL %}
                <li>
                    <a href="{{ link }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-{{ name|lower }} fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
    <div class="vertical-spacer">
        <h4>#tags</h4>
        <a href="/tags">tag list</a>
        
            {% for tag, artcl in tags|sort  %}
            <a class="tag-link" href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
            {% endfor %}
    </div>
    <div class="vertical-spacer">
        <h4>archives</h4>
        <div>
          <a href="/archives">all</a>
        </div>      
        <div>
        <a href="/2013/index.html">2013</a>
        </div>      
        <div>
        <a href="/2014/index.html">2014</a>
        </div>      
        <div>
        <a href="/2015/index.html">2015</a>
        </div>      
        <div>
        <a href="/2016/index.html">2016</a>
        </div>
    </div> 
    <div class="vertical-spacer">
        <h4>feeds </h4>
        <p class="feed-button"><a href="/feeds/atom.xml">Atom</a></p>
        <p class="feed-button"><a href="/feeds/rss.xml">Rss</a>&nbsp;</p>
    </div>   

</div>